.body{
    position: relative;
    --ion-background-color: #fff;
}

.voltar{
    position: relative;
    top: -30px;
    left: -10px;
    width: 80px;
    height: 3vh;
}

.logo{
    position: relative;
    margin-top: 10px;
    left: 3rem;
    width: 55px;
    height: 55px;
}